[ req ]
default_bits           = 2048
distinguished_name     = req_distinguished_name
prompt                 = no

[ req_distinguished_name ]
C                      = SG
ST                     = Singapore
L                      = Singapore
O                      = Test Org
OU                     = Test Org
CN                     = Test Org
emailAddress           = test@email.address
